.container
{
  margin-left: 20px;
  margin-right: 20px;
}
header
{
  display: flex;
}
/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  flex-grow:1 ;
  border-right: 1px solid white;
}

.tablink:hover {
  background-color: #777;
}

/* table Style */
.table {
  margin-top: 10px;
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
  text-align: center;
}

.table th, .table td {
  padding: 12px; /* Add padding */
  
}

.table tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.table tr.header, .table tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

/* end table style */


/* text color style */
.text-primary {
  color: #007bff!important;
}
.text-success {
  color: #28a745!important;
}
.text-info {
  color: #17a2b8!important;
}
.text-danger {
  color: #dc3545!important;
}
.text-secondary {
  color: #6c757d!important;
}
.fa-edit
{
  margin-right: 5px;
}
/* end text color styles */

/* btn class */
.btn {
  
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 12px 16px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  margin-left: 5px;
  margin-right: 5px;
}

.success {background-color: #04AA6D;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}

/* end btn class */


/* form style */
input[type=text], input[type=number] ,select{
  width: 100%;
  padding: 15px;
  margin: 5px 5px 22px 5px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=number]:focus,select:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* end form style */

/* modal style */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 10px 20px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
/* end modal style */